.container {
  margin: 2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
}
ul {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #595959;
  color: #fff;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.toast {
  background-color: #595959;
  height: 100%;
}
